<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compoff Application Notification</title>
</head>


<body style="font-family: Arial, sans-serif;">


    <p>Dear Sir/Mam,</p>

    <p>This is to inform you that {{user_name}} has applied for a compensatory off for the following .</p>

    <h4>Application Details:</h4>
    <ul>
        <li><b>Date of Comp Off:</b> {{generated_compoff_date}}</li>
        <li><b>Date Applied For:</b> {{claimed_compoff_date}}</li>
    </ul>

    <p>Please review the request and take the necessary action at your earliest convenience.</p>

    <p>Thank you for your prompt attention.</p>


    <div>Best regards,</div>

    <div>Team Zentro</div>

</body>
</html>