<!DOCTYPE html>
<html>

        <head>
            <meta charset="UTF-8">
            <title></title>
        </head>
        <body style="font-family: Arial, sans-serif;">


            <p>Dear {{employeename}},</p>

            <p>I hope this message finds you well. I wanted to bring to your attention that you were late to the office today.</p>

            <h4>Here are the details of your late arrival:</h4>

            <ul>
                <li><b>Date:</b> {{date}}</li>
                <li><b>Scheduled Start Time:</b> 09:30:00 </li>
                <li><b>Your Arrival Time:</b> {{arrivalTime}}</li>
                <li><b>Monthly Late Arrivals:</b> {{nooflatemarks}}</li>
            </ul>

                <p>According to company's Late Mark policy , On every 3 lates half-day will be marked for the said day.</p>
                <p>We understand that there may be occasional situations that cause delays, but we want to take this opportunity to remind you of the importance of arriving on time. If you encounter any challenges in making it to the office on time, please let us know, and we can discuss potential solutions or adjustments to your schedule.</p>
                <p>Thank you for your understanding, and We look forward to your continued punctuality.</p>
          

            <div>Best regards,</div>
            <div>Team Zentro</div>

        </body>

   




    




</html>
