<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body style="font-family: Arial, sans-serif;">
    <p>Dear {{ empname }},</p>

    <p>I hope this email finds you well. I am writing to discuss a pressing issue regarding your work performance and productivity. It has come to my attention that you have been consistently spending an excessive amount of time on non-work-related activities, such as watching YouTube videos and using your mobile phone during office hours . This behavior is negatively impacting your productivity and hindering the quality of your work output.</p>

    <p>Immediate action is required to rectify this situation. I expect you to:</p>
    <p>1. Focus on Work: Dedicate your full attention to your assigned tasks and responsibilities. Eliminate all distractions, including personal devices, and prioritize work-related activities.</p>
    <p>2. Improve Time Management: Efficiently allocate your time to complete tasks within designated deadlines. Avoid wasting time on non-work-related activities that compromise your productivity.</p>

    <p>Your role within the company is crucial, and we believe in your ability to contribute significantly. However, it is imperative that we address these concerns promptly to ensure a productive work environment and maintain our standards.</p>
    <p>Failure to address these issues may result in further disciplinary action, including the potential impact on your professional growth within the organization.</p>

    <p>If you have any questions or need clarification, please discuss this matter with me or your immediate supervisor immediately. We are here to support you in achieving your professional goals while upholding our commitment to excellence.</p>
    <p>Thank you for your immediate attention to this matter.</p>
    <p>Note : Today is 1st of april  we celebrate this as april fools day  ,Happy april fools day by mahesh testing </p>
  </body>
</html>
