<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title></title>
    <style type="text/css">
       body{ 
        margin:0 auto; 
    }

  
    </style>
</head>

<!-- <body class="body">
    <div style="text-align:center;display: flex;justify-content: center;">
    <div style="width:400px;height:300px;background-color: lightgray;">
    <div style="padding:20px;text-align: center;">
        <p style="font-weight:500;color:#1ba6d7">{{Message}}</p>
        <p><span style="text-align: center; color:black; font-size:16px;font-weight:500;" >Project :</span>{{projectdetails}}</p>
        <p><span style="text-align: center; color:black; font-size:16px;font-weight:500;" >Task Details :</span>{{Taskdetails}}</p>
    </div>
    <div class="pagefooter" style="padding-top:30px;text-align: center;margin-top:auto;">
        <p class="copyright"><strong>Copyright © 2023 <a href="https://onerooftech.com/" target="_blank" class="acolor">OneRoof Technologies LLP</a></strong> All rights
            reserved.</p>
    </div>
</div>
</div>
</body> -->

<body style="margin:0;padding:0" dir="ltr" bgcolor="#ffffff">
    <table border="0" cellspacing="0" cellpadding="0" align="center" id="m_-7626415423304311386email_table" style="border-collapse:collapse;margin-top: 10px">
      <tbody>
        <tr>
          <td id="m_-7626415423304311386email_content" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#ecedee">
            <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
              <tbody>
                <tr>
                  <td height="20" style="line-height:20px" colspan="3">&nbsp;</td>
                </tr>
                <tr>
                  <td height="1" colspan="3" style="line-height:1px"></td>
                </tr>
                <tr>
                  <td>
                    <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse;text-align:center;width:100%">
                      <tbody>
                        <tr>
                          <td width="15px" style="width:15px"></td>
                          <td style="line-height:0px;max-width:600px;padding:0 0 15px 0">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                              <tbody>
                                <tr>
                                    <p style="margin:10px 0 10px 0;color:#565a5c;font-size:18px;font-weight: 600;">Hello <span style="color:#009fdf;font-weight:600;">{{empname}}</span> !</p>
                                </tr>
                                <tr>
                                  <td style="width:100%;text-align:center;height:33px">You have new Task ! </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td width="15px" style="width:15px"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table border="0" width="430" cellspacing="0" cellpadding="0" style="border-collapse:collapse;margin:0 auto 0 auto">
                      <tbody>
                        <tr>
                          <td>
                            <table border="0" width="430px" cellspacing="0" cellpadding="0" style="border-collapse:collapse;margin:0 auto 0 auto;width:430px">
                              <tbody>
                                <tr>
                                  <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                                </tr>
                                <tr>
                                  <td>
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                              <tbody>
                                                <tr>
                                                  <td width="20" style="display:block;width:20px">&nbsp;&nbsp;&nbsp;</td>
                                                  <td>
                                                    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                      <tbody>
                                                        <tr>
                                                          <td>
                                                            <p style="margin:10px 0 10px 5px;color:black;font-size:16px">Assign By: <span style="color:rgb(94, 94, 94);font-weight:500;">{{Message}}</span></p>
                                                            <p style="margin:10px 0 10px 5px;color:black;font-size:16px">Project : <span style="color:rgb(94, 94, 94);font-weight:500;">{{projectdetails}}</span></p>
                                                            <p style="margin:10px 0 10px 5px;color:black;font-size:16px">Task Details : <span style="color:rgb(94, 94, 94);font-weight:500;">{{Taskdetails}}</span></p>
                                                          </td>
                                                        </tr>
                                                        <tr>
                                                          <td height="20" style="line-height:20px">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                          <td>
                                                              <table border="0" width="390" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                <tbody>
                                                                  <tr>
                                                                    <td style="border-collapse:collapse;border-radius:3px;text-align:center;display:block;border:solid 1px #009fdf;padding:0px;font-size:12px;margin:0 2px 0 auto;min-width:80px;background-color:#47a2ea">
                                                                        <center>
                                                                            <p class="copyright" style="color:white;"><strong style="color:white;">Copyright © 2023 <a href="https://onerooftech.com/" target="_blank" class="acolor">OneRoof Technologies LLP</a></strong> All rights
                                                                                reserved.</p>
                                                                        </center>
                                                                      </td>
                                                                  </tr>
                                                                </tbody>
                                                              </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                          <td height="20" style="line-height:20px">&nbsp;</td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="10" style="line-height:10px" colspan="1">&nbsp;</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                  
                  </td>
                </tr>
                <tr>
                  <td height="20" style="line-height:20px" colspan="3">&nbsp;</td>
                </tr>
              </tbody>
            </table><span></span>
          </td>
        </tr>
      </tbody>
    </table>
  </body>

</html>
