<!DOCTYPE html>
<html>


        <head>
            <meta charset="UTF-8">
        </head>
        <body style="font-family: Arial, sans-serif;">
            <p>Dear Team,</p>
            <p>
                I hope this message finds you well. We would like to inform you that {{employeename}}  has recently updated their {{applicationtype}} application in our system. This update may affect scheduling and resource allocation, so we wanted to ensure that all relevant parties are informed.
            </p>
            <h4>Application Details:</h4>
            <ul>
                <li><b>Employee Name:</b> {{employeename}}</li>
                <li><b>Application Id:</b> {{applicationid}}</li>
                <li><b>{{applicationtype}}  Date:</b> {{dates}}</li>
                <li><b>{{applicationtype}} Reason:</b> {{reason}}</li>

            </ul>
            <p>
                Your prompt attention to this matter is greatly appreciated as it helps us ensure the smooth operation of our department and maintain accurate records.
            </p>
            <div>Thank you,</div>

            <div>Team Zentro</div>

        </body>



</html>
