<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <title>Attendance Request reminder</title>
        </head>
        <body style="font-family: Arial, sans-serif;">


            <p>Dear Sir/Mam,</p>

            <p>I trust this email finds you well. I am writing to bring your attention to {{requestcount}} pending Attendance Requests in our system that require immediate action.It is crucial that we review the requests and expediate the decision-making process to ensure efficiency.</p>

            <p>If there are any specific concerns or additional information required for your evaluation, please let me know, and I will promptly provide the necessary details.</p>

            <p>Thank you for your prompt attention to this matter. Your cooperation is highly appreciated.</p>

            <div>Best regards,</div>

            <div>Team Zentro</div>

        </body>

    

</html>
