<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Approval of Device Change Request </title>
    </head>
    <body style="font-family: Arial, sans-serif;">

        <p>Dear {{employeename}},</p>

        <p> I hope this email finds you well. I wanted to inform you that your recent device change request has been reviewed and approved for device <b>{{device_name}}</b>. You are now authorized to proceed with the requested device .</p>

        <p>Thank you for your understanding and cooperation .</p>

        <div>Best regards,</div>

        <div>Team Zentro</div>

    </body>
</html>