<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Approval of Device Change Request </title>
    </head>
    <body style="font-family: Arial, sans-serif;">

        <p>Dear {{employeename}},</p>

        <p> I trust this email finds you well. I regret to inform you that after careful consideration , your recent device change request has been rejected for device <b>{{device_name}}</b>.</p>
        <p><b>Reason: </b>{{rejection_reason}}</p>
        <p>If you have any questions or concerns regarding this decision, please feel free to reach out to discuss further. We appreciate your understanding and cooperation.</p>
        <p>Thank you for your attention to this matter.</p>
        <div>Best regards,</div>

        <div>Team Zentro</div>

    </body>
</html>